{% extends 'app/base.html' %}

{% block content %}
<div class="container">
  <div>
    <div class="logo"></div>
    <div class="box_container">
      <a href="{% url 'documentacao-1' %}" class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <div class="box-title">Documentações I</div>
        </div>
      </a>
      <a href="{% url 'documentacao-2' %}" class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <div class="box-title">Documetações II</div>
        </div>
      </a>
      <a href="{% url 'documentacao-3' %}" class="box">
        <div>
          <div class="box_icon">
            <i class="fas fa-folder-open"></i>
          </div>
          <div class="box-title">Documentacões III</div>
        </div>
      </a>
    </div>
  </div>
  <div class="btn-float">
    <a href="https://instagram.com/" target="_blank" class="btn-float"><i class="fab fa-instagram"></i></a>
  </div>
  {% include 'app/TheNavigationBar.html' %}
</div>
{% endblock %}
