<div class="bottom-nav">
    <div id="" class="">
      <a href="{% url 'documentacao-1' %}"
        ><i class="fal fa-folder-open"></i
      ></a>
    </div>
    <div id="" class="">
      <a href="{% url 'obras' %}"
        ><i class="fal fa-pen"></i
      ></a>
    </div>
    <div id="" class="">
      <a href="{% url 'upload' %}"
        ><i class="fal fa-cloud-upload"></i
      ></a>
    </div>
    <div id="" class="">
      <a href="#"
        ><i class="fal fa-cog"></i
      ></a>
    </div>
</div>